<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Page title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;subset=latin">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
    <link rel="icon" href="favicon.ico">
  </head>
  <body>
    <div class="container-fluid">

      <nav class="navbar navbar-expand-lg navbar-light"><a class="navbar-brand d-lg-none" href="#"><img src="images/softasap.jpeg" alt="VM Dashboard" width="100"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigations-02"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse justify-content-md-center" id="navigations-02">
          <div class="row w-100">
            <div class="col-4 pl-lg-0">
              <ul class="navbar-nav"><li class="nav-item"><a class="nav-link active" href="#">Control Panel</a></li>
                <li class="nav-item"><a class="nav-link" href="/mailhog/">Mailhog</a></li>
                <li class="nav-item"><a class="nav-link" href="/code/">VSCode</a></li>
              </ul></div>
            <div class="col-4 navbar-nav text-center pr-0 d-none d-lg-block"><a class="navbar-brand mr-0" href="#"><img src="images/softasap.jpeg" alt="VM Dashboard" width="100"></a></div>
            <div class="col-4 pr-lg-0">
              <ul class="navbar-nav justify-content-end"><li class="nav-item"><a class="nav-link" href="/adminer/">Adminer</a></li>
                <li class="nav-item"><a class="nav-link" href="/pgweb/">PGWEB</a></li>
                <li class="nav-item"><a class="nav-link" href="/info.php">PHPINFO</a></li>
              </ul></div>
          </div>
        </div>
      </nav>

      <section class="py-5"><div class="container text-center"><strong>Development Server</strong>
          <h1 class="display-4 my-3">If you see that, server is probably up</h1><a class="btn btn-primary btn-raised mt-2" href="/pimpmylog/">LOGS</a>
        </div>
      </section>

      <section class="py-4"><div class="container-fluid">
          <div class="row">
            <div class="col-xl-3 col-md-6 mb-3 mb-lg-0">
              <div class="border rounded">
                <div class="d-flex border-bottom p-3 w-100 align-items-center">
                  <h3 class="h5 mr-auto mb-0">DISK</h3>
                  <p class="badge badge-success mb-0">Free</p>
                </div>
                <p class="px-3 pt-4 h3">108,200</p>
                <div class="d-flex px-3 w-100">
                  <p class="mr-auto"></p>
                  <p class="text-success d-flex align-items-center"><img src="placeholder/icons/level-up.svg" height="20" width="20" alt=""></p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-3 mb-lg-0">
              <div class="border rounded">
                <div class="d-flex border-bottom p-3 w-100 align-items-center">
                  <h3 class="h5 mr-auto mb-0">RAM</h3>
                  <p class="badge badge-success mb-0"> </p>
                </div>
                <p class="px-3 pt-4 h3">128,430</p>
                <div class="d-flex px-3 w-100">
                  <p class="mr-auto"></p>
                  <p class="text-success d-flex align-items-center"><img src="placeholder/icons/level-up.svg" height="20" width="20" alt=""></p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-3 mb-lg-0">
              <div class="border rounded">
                <div class="d-flex border-bottom p-3 w-100 align-items-center">
                  <h3 class="h5 mr-auto mb-0">WEB SERVER</h3>
                  <p class="badge badge-success mb-0"> </p>
                </div>
                <p class="px-3 pt-4 h3">81,248</p>
                <div class="d-flex px-3 w-100">
                  <p class="mr-auto"></p>
                  <p class="text-success d-flex align-items-center"><img src="placeholder/icons/level-up.svg" height="20" width="20" alt=""></p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-3 mb-lg-0">
              <div class="border rounded">
                <div class="d-flex border-bottom p-3 w-100 align-items-center">
                  <h3 class="h5 mr-auto mb-0">ERRORS</h3>
                  <p class="badge badge-success mb-0"> </p>
                </div>
                <p class="px-3 pt-4 h3">2,341</p>
                <div class="d-flex px-3 w-100">
                  <p class="mr-auto"></p>
                  <p class="text-success d-flex align-items-center"><img src="placeholder/icons/level-up.svg" height="20" width="20" alt=""></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <footer class="py-3"><div class="container">
          <div class="d-flex justify-content-between align-items-center flex-column flex-md-row border-bottom pb-2">
            <h5 class="ml-0 ml-md-3 mb-0"><a href="#">softasap.sa_lamp_dev</a></h5>
            <ul class="nav justify-content-center"><li class="nav-item"><a class="nav-link" href="https://galaxy.ansible.com/softasap">Ansible Galaxy</a></li>
              <li class="nav-item"><a class="nav-link" href="https://github.com/softasap">Github</a></li>
              <li class="nav-item"><a class="nav-link" href="https://www.softasap.com/">Support</a></li>
              <li class="nav-item"><a class="nav-link" href="https://github.com/oops-to-devops">OOPS-TO-DEVOPS</a></li>
            </ul></div>
          <div class="d-flex justify-content-center align-items-center justify-content-md-between flex-column flex-md-row mx-3 mt-3">
            <div class="d-flex">
            <a href="https://twitter.com/softasap"><img class="mr-3" src="placeholder/icons/twitter.svg" alt=""></a>
            <a href="https://facebook.com/softasap"><img class="mr-3" src="placeholder/icons/facebook-f.svg" alt=""></a>
            <!-- <a href="#"><img src="placeholder/icons/instagram.svg" alt=""></a></div> -->
            <div class="d-flex mt-3 mt-md-0">
              <p class="mb-0 small text-muted">Have a nice day</p>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="js/jquery/jquery.min.js"></script>
    <script src="js/popper/popper.min.js"></script>
    <script src="js/bootstrap/bootstrap-material-design.min.js"></script>
    <script>
        $(document).ready(function() { $('body').bootstrapMaterialDesign(); });
    </script>
  </body>
</html>

